export(knit)
export(knit2pdf)
export(opts_chunk)
export(opts_knit)
export(knit_hooks)
export(knit_patterns)
export(knit_code)
export(all_patterns)
export(render_latex)
export(set_header)
export(knit_child)
